.DS_Store
.venv
__pycache__/
*.egg-info/

*.secret

.ruff_cache
.pytest_cache

.direnv

tmp

**/settings.local.json

.lycheecache

/nanobot/.python-version

/nanobot/config.json
/nanobot/config.resolved.json
/nanobot/workspace/sessions/
