# See wiki/backend-dotenv-tests-unit-secret.md

NAME="Learning Management Service"
DEBUG=false
ADDRESS=127.0.0.1
PORT=8000
RELOAD=false
LMS_API_KEY=test
CORS_ORIGINS=[]
BACKEND_ENABLE_INTERACTIONS=true
BACKEND_ENABLE_LEARNERS=true
AUTOCHECKER_API_URL=http://localhost
AUTOCHECKER_API_LOGIN=test
AUTOCHECKER_API_PASSWORD=test
DB_HOST=localhost
DB_PORT=5432
DB_NAME=test
DB_USER=test
DB_PASSWORD=test
